<!DOCTYPE html>
<html>
<head>
    <title>GitLab Compliance Checker</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>GitLab Compliance Report</h1>
    <table>
        <tr>
            <th>Project</th>
            <th>README Status</th>
        </tr>
        <% projects.forEach(p => { %>
            <tr>
                <td><%= p.project %></td>
                <td><%= p.readmeStatus %></td>
            </tr>
        <% }) %>
    </table>
</body>
</html>
